.heading {
    font-size: 15px;
    /* transition-property: font-size;
    transition-delay: 1s;
    transition-duration: 1.5s;
    transition-timing-function: ease-in; */
    transition: font-size, 0.5s , ease-in 1s;
    
}

.heading:hover {
    color:green;
    font-size: 75px;
    cursor: pointer;
    letter-spacing: 20px;
}